
.container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: none!important;
}


/*================== Navbar ===================*/


img.avatar {
  height: 30px;
  width: 30px;

}


.view img, .view video {
      position: relative;

}
img {
 vertical-align: middle;
border-style: none;
width: 20%;
height: 60%;
}

img.avatar-2{
  width: 250px;
}

.mt-2, .my-2 {
    margin-top:14.5rem!important;
}


/*=================== Carousel========================*/

.wrap-carousel {

margin-top: 100px;
text-align: center;
margin-bottom: 50px;

}

hr.hr-light-morado {

  border-top: 4px solid #fff;
  border-color: indigo;
}

img.img-lugares {

  height: 60px;
  width: 40px;

}

/*============= demas paginas ====================*/

.morado {
  color:indigo;

}

.wrap-jumbotron{

margin-top: 100px;

}

h1.morado {
  color:indigo;
}


/*==========================
===================== Footer
========================= */

footer.page-footer {
    bottom: 3 rem;
    margin-top: 50px;
    color: #fff;
}

/


/*=====================Media Query====================*/

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
