.container-signin {

margin-top: 150px;

}

.h1-registrate{

  margin-bottom: 1rem;
  color: indigo;
  text-align: center;
}

.p-signin{

  color: gray;
  margin-bottom: 1rem;
  text-align: center;
}

.form-signin{


}

.input-group{

  margin-bottom: 15px;

}

.input-group-text{
  background-color: indigo;
  color: white;
}

.btn-morado{

background-color:indigo;
color: white;

}
